language: python

python:
  - "2.7"

install:
  - travis_retry pip install invoke
  - travis_retry invoke install --upgrade
  - apt-get install par2

before_script:
  - invoke flake

script:
  - invoke test
